/* DOCUMENT INFORMATION
  - Document: DIGIT CSS
  - Version:  1.0
  - Client:   CSC Capstone
  - Author:   Natalie Forman 
*/

/* COLORS
  - Dark Blue: #0067A6;
  - Light Blue: #00ABD8;
  - Green:#008972;
  - Orange:#F2572D;
*/

/* FONTS
  - default body text  Open Sans, Arial, Helvetica, sans-serif
  - header text        Exo, seriif
*/

@import url('https://fonts.googleapis.com/css?family=Exo:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#illusion-frame2.illusion-frame, #illusion-frame3.illusion-frame{
  padding-bottom: 550px;
}
#illusion-frame4.illusion-frame, #illusion-frame6.illusion-frame{
  padding-bottom: 500px;
}


/****************/
/*****Globals****/
/****************/

h2{
  font-family: 'Exo', serif;
  font-weight: 900;
  font-size: 36px;
}
.illusion-holder h2{
  padding-top: 10px;
}
h3{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}
h4{
  font-weight: bold;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px;
  font-weight: 400;
  background-color: #eee;
}
.main-content{
  padding-bottom: 20px;
}
.warn{
  color: #fff;
  background-color: red;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/****************/
/*****Nav********/
/****************/
.navbar-brand{
  font-family: 'Exo', serif;
  font-weight: 700;
}
.navbar.navbar-default{
	background-color:#008972; 
	border: none;
	border-radius: 0px;
	color: #fff
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar.navbar-default a, .navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover{
	background-color: #006352;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color: #fff;
}
.dropdown-menu{
  background-color: #008972;
}
.navbar-default .active{
  background-color: #006352;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
  background-color: #006352;
}

/****************/
/****Side Nav****/
/****************/

.sidenav .nav {
  background-color: #fff;
  border: 1px solid #ddd;
}
.sidenav p{
  font-family: 'Exo', serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.sidenav .active, .sidenav .nav > li.active > a:hover{
	background-color: #aaa;
  color: #fff;
}
.sidenav .nav > li > a:hover{
	background-color: #999;
	color: #fff;
}
.sidenav a{
  color: #008972;
}
.sidenav .active a{
  color: #fff;
}

/****************/
/***INDEX*****/
/****************/

.illusion-category{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
.illusion-category h4{
  font-family: "Exo", serif;
  font-size: 28px;
}
.illusion-category a h4{
  color: #000;
  padding: 15px;
}
.illusion-category a h4:hover, .illusion-category a:hover{
  color: #F2572D;
  text-decoration: none;
}

.main-content .row:not(:first-child){
  margin-top: 20px;
}

.illusion-category .btn.btn-default.results{
  margin: 10px;
}
#contrast-back{
  height: 200px;
  background-image: url("../images/contrast_back3.jpg");
  background-size: cover;
}
#spatial-back{
  height: 200px;
  background-image: url("../images/spatial_back.jpg");
  background-size: cover;
}

/****************/
/***QUESTION*****/
/****************/

/*.row.content.illusion-page {
	height: 500px
}*/
.question-text{
	font-family: 'Exo', serif;
}
.question-section #done{
	margin-top: 20px;
	padding: 10px;
}

/****************/
/***CATEGORY*****/
/****************/
.collect-illusion{
	background-color: #fff;
	border-radius: 3px;
	padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  font-size: 24px;
}
.collect-illusion a{
  color: #000;
}
.collect-illusion a:hover{
  text-decoration: none;
  color: #F2572D;
}

/****************/
/***FOOTER*****/
/****************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #777;
  color: #fff;
}

@media (max-width:768px){ .footer{position:absolute;width:100%;} }
@media (min-width:768px){ .footer{position:absolute;bottom:0;height:60px;width:100%;}}

.illusion-footer .illusion-nav{
	background-color: #ccc;
	color: #000;
	padding-top: 25px;
	height: 70px;
	text-align: center;
  font-size: 20px;
}
.illusion-footer .illusion-nav:hover{
	background-color: #008972;
  color: #fff;
	text-decoration: none;
}

/****************/
/***LOG IN*******/
/****************/
.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
    top: -1px;
  margin-right: 5px;
  vertical-align: middle;
  color: #fff;
}
#user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: 35px;
  border-radius: 20px;
}
#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}
.mdl-button {
  background:0 0;
  border:none;
  border-radius:2px;
  color:#fff;
  position:relative;
  height:36px;
  margin:0;
  min-width:64px;
  padding:0 16px;
  display:inline-block;
  font-family:"Roboto","Helvetica","Arial",sans-serif;
  font-size:14px;
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:0;
  overflow:hidden;
  will-change:box-shadow;
  transition:box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline:none;
  cursor:pointer;
  text-decoration:none;
  text-align:center;
  line-height:36px;
  vertical-align:middle
}
@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 72px;
    background-color: #008972;
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}

/****************/
/*****ILLUSION*****/
/****************/
iframe, object, embed {
    max-width: 100%;
}
iframe{
  margin: 0 auto;
  display: block;
  border: none;
}

.illusion-frame{
      position: relative;
      padding-bottom: 600px;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
/*@media (max-width:767px){ .illusion-frame{padding-bottom: 95%;} }
*/.illusion-frame iframe{
      position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*width: 100%;*/
    height: 100%;
    border: none;
}
input[type=range]::-moz-range-track {
  height: 10px;
  border-radius: 5px;
  height: 5px;
  border: 1px solid #bdc3c7;
  background-color: #fff;
}
button#submit{
  border: 3px solid #0067A6;
  padding: 15px;
  background-color: #0067A6;
  color: #fff;
  font-weight: bold;
}

#show-results{
  padding-bottom: 10px;
}

button#submit:hover{
  background-color: #00ABD8;
}

.instruct{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #eee;
  margin: 10px 15px;
}
.instruct .instruction{
  font-size: 13px;
  font-weight: normal;
  color: #00ABD8;
}

.illusion-holder{
  background-color: #fff;
}
.result-button{
  float: right;
  padding: 10px;
  background-color: #0067A6;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
.result-button:hover{
  background-color: #00ABD8;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

/****************/
/***RESULTS*****/
/****************/
#results rect {  fill: #7eb6e4;}

.your-results{
  margin-bottom: 15px;
  border: 2px solid #ccc;
  background-color: #efefef;
  padding: 20px;
}

.submit-results{
  padding-bottom: 20px;
  text-align: center;
}
#show-results{
  margin-bottom: 20px;
}
.result-box{
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.result_answer{
  background-color: #a9dbd3;
  padding: 5px;
  color: #333;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.result_none{
  background-color: #ccc;
  padding: 5px;
  color: #333;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.img-result{
  width: 70px;
  display: inline-block;
}
#results-page h4{
  display: inline-block;
  padding-left: 5px;
}
#results-page h4.section{
  font-size: 24px;
  color: #00ABD8;
}
#results-page a{
  color: #000;
}
#results-page a:hover{
  text-decoration: none;
  color: #666;
}
hr.divider{
  border-top: 2px solid #ccc;
}
.answer{
  font-weight: bold;
  margin: 0px;
  padding: 5px 0;
}
h5{
  font-weight: bold;
  text-transform: uppercase;
}

/****************/
/***GRAPHS*****/
/****************/

.ct-series-a .ct-bar{
  stroke-width: 20px;
  stroke: #00ABD8;
}

.ct-label{
    font-size: 11px;
}

text.ct-axis-title{
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
}

.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area{
  fill: #00ABD8;
}

.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area{
  fill: #0067A6;
}

.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area{
  fill: #008972;
}

.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area{
  fill: #F2572D;
}

.ct-chart-pie .ct-label, .ct-chart-donut .ct-label{
  fill: #fff;
  font-size: 13px;
}

/****************/
/***ABOUT********/
/****************/

.about-section{
  background-color: #fff;
  min-height: 450px; 
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
}
.about-section h3{
  text-align: center;
  padding-bottom: 15px;
}
.about-pic{
  border-radius: 50%;
  margin: auto;

}