/*DEFAULTS*/
/*
Dark Blue: #0067A6;
Light Blue: #00ABD8;
Green:#008972;
Yellow:#EFC028;
Orange:#F2572D;
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

h3, h4{
	font-family: 'Merriweather', serif;
}

/*Nav*/
.navbar.navbar-default{
	background-color:#008972; 
	border: none;
	border-radius: 0px;
	color: #fff
}
.navbar.navbar-default a, .navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover{
	background-color: #006352;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}

/*Side Nav*/
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.row.content.illusion-page {
	height: 500px
}

.question-section{
	margin: 10px 0;
	padding: 20px;
	background-color: #eee;
}
.question-text{
	font-family: 'Merriweather', serif;
}
.question-section #done{
	margin-top: 20px;
	padding: 10px;
}

.collection-illusion div{
	background-color: #eee;
	border-radius: 3px;
	padding: 10px;

}
/*Homepage Styles*/

.illusion-category{
	background-color: #eee;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-top: 5px;
}

.main-content .row:not(:first-child){
	margin-top: 20px;
}

.progress{
	margin-bottom: 10px;
}

.illusion-category .btn.btn-default.results{
	margin: 10px;
}

@media (min-width:768px){ .illusion-category{height: 250px;} }
@media (min-width:992px){ .illusion-category{height: 270px;} }
@media (min-width:1200px){ .illusion-category{height: 320px;} }


/*Footer Styles*/
/*http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3/23833625#23833625*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.main-content{
	padding-bottom: 20px;
}

@media (max-width:768px){ .footer{position:absolute;width:100%;} }
@media (min-width:768px){ .footer{position:absolute;bottom:0;height:60px;width:100%;}}